/* outsourced inline styles */

div.aai {
    width: 500px;
}

fieldset.search-form>div {
    width: 250px;
}

aside p {
    padding-bottom: 0px;
}

#mainContent {
    background-color: white; 
    padding-left: 20px; 
    padding-top: 70px; 
    width: 762px;
}



@media screen and (max-width:800px) {

    div.aai {
        width: auto;
    }
    fieldset.search-form>div {
        width: auto;
    }
    
    #mainContent {
        background-color: white; 
        padding: 0; 
        width: auto;
    }


    body#corp.style960 {
        background-image: url('themes960/img/corp960.png');
        background-position: 0 -95px;
    }

    body header ul#portal-link,
    body.style960 header ul#portal-link {
        padding-right: 10px;
        height: 83px;
        display: none;
        /* OVERWRITE*/
    }

    body div#controllBar {
        width: auto;
    }

    body.style960 .container_10 {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    body header,
    body.style960 header {
        height: 112px;
        font-size: 12px;
        padding-top: 0;

        height: 100px;
    }

    body .container_10 .grid_10,
    body.style960 .container_10 .grid_10,
    body .container_10 .grid_8,
    body.style960 .container_10 .grid_8,
    body .container_10 .grid_6,
    body.style960 .container_10 .grid_6,
    body .container_10 .grid_2,
    body.style960 .container_10 .grid_2 {
        float: none;
        width: auto;
        margin: 0;
    }

    body header div#logo,
    body.style960 header div#logo {
        /*  padding-top: 0;
	padding-left: 10px;
	height: 61px;*/
        position: absolute;
        top: 30px;
        left: 20px;
        padding: 0;
        height: auto;
        width: 300px;

    }

    body div.formAddonLink,
    body form fieldset.search-form,
    body form fieldset.comment-form {
        background-color: #F3F5F6;
        /*  padding: 0px 7px 8px 7px;*/
        padding: 15px;
        color: #6A7277;
        border: 1px solid #C9CFD2;
    }

    body div.textimage {
        display: block;
        width: 100%;
        padding: 0;
    }

    body header div#JumpStation,
    body.style960 header div#JumpStation {
        /*  
        height: 86px;
        margin-top: -2px;
        */
        position: absolute;
        top: 30px;
        right: 30px;
        height: 20px;
        margin: 0;

    }

    body nav#nav,
    body.style960 nav#nav {
        /*  
        font-size: 14px;
        height: 50px;
        padding-top: 2px;
        */
        height: 20px;
        margin: 0;
        display: none;
    }

    body div.text-box {
        background-color: #EAECEE;
        overflow: hidden;
        box-sizing: border-box;
        /*  
        padding: 16px 15px 4px 15px;
	   margin-bottom: 22px;
        */
        padding: 0;
        margin: 0;
    }

    body section#contentMain div.contentSubContainer,
    body div#mainContent div.contentSubContainer,
    body div#overviewContainer aside div.contentSubContainer {
        /*	
        margin-top: 10px;
        background-color: #FFFFFF;
        padding: 20px 10px 4px 10px;
        */
        margin-top: 10px;
        background-color: #FFFFFF;
        padding: 0;
    }

    body div#breadcrumb {
        background-color: #82be1e;
        height: 30px;
        position: absolute;
        z-index: 31;
        left: 0px;
        overflow: hidden;
        font-weight: bold;
        padding: 0 7px 0px 12px;

        top: 0;
    }

    body div.text-box {
        /*  
        background-color: #EAECEE;
        overflow: hidden;
        padding: 16px 15px 4px 15px;
        margin-bottom: 22px;
        */
        box-sizing: border-box;

        background: white;
        padding: 0;
        margin: 0;
    }

    body div.formAddonLink div.grouping-box div.box input[type="password"],
    body form fieldset.search-form div.grouping-box div.box input[type="password"],
    body form fieldset.comment-form div.grouping-box div.box input[type="password"],
    body div.formAddonLink div.grouping-box div.box input[type="text"],
    body form fieldset.search-form div.grouping-box div.box input[type="text"],
    body form fieldset.comment-form div.grouping-box div.box input[type="text"] {
        /*
        padding-left: 8px;
        height: 28px;
        width: 100%;
        border: 1px solid #C9CFD2;
        box-shadow: inset 0 0 5px #EAECEE;
        display: block;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        */
        padding: 15px 10px !important;
        height: 50px !important;
        font-size: 20px !important;
        line-height: 1.2px;

    }
    
    
    
        
    body footer#footer {
        background: #1f407a;
        width: 100%;
        padding: 10px 0px 10px 0px;
    }
    
    body footer#footer div#footerContainer div#footerLinks {
        float: none;
        margin: 0;
        padding: 10px 0;
        width: 100%;
    }

    body footer#footer div#footerContainer div#footerLinks ul {
        font-size: 0;
    }

    body footer#footer div#footerContainer div#footerLinks ul li {
        font-size: 11px;
        display: inline-block;
        padding: 0;
        width: 33%;
        float: none;
        text-align: center;
    }
        
    body footer#footer div#footerContainer div#copyright {
        clear: both;
        float: none;
        padding: 10px 0;
        text-align: center;
    }

    body h1,
    body.style960 h1 {
        font-size: 25px;
        line-height: 28px;

        padding: 0;
        padding-bottom: 30px;
        margin: 0;
        font-family: Helvetica;
    }

    #content {
        padding: 60px 20px;
        background: white;
    }

    #my-basecomponent p {
        text-align: center;
        padding: 40px 20px;
    }

    p,
    td {
        font-size: 16px !important;
        line-height: 1.5 !important;
    }

    input[type=text] {
        padding: 10px;
    }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        transform: scale(2) !important;
        -ms-transform: scale(2);
        /* IE */
        -moz-transform: scale(2);
        /* FF */
        -webkit-transform: scale(2);
        /* Safari and Chrome */
        -o-transform: scale(2);
        /* Opera */
        padding: 10px;
    }

    /* Might want to wrap a span around your checkbox text */
    .checkboxtext {
        /* Checkbox text */
        font-size: 110%;
        display: inline;
    }

    a {
        font-size: inherit !important;
    }

}
