/******************************************/
/*  Enter below your specific app styles  */
/******************************************/

label {
	color: #333;
}

.form-element label {
	font-weight: bold;
}

.ce-box {
	padding: 16px;
	padding-bottom: 6px;
	box-sizing: border-box;
	background-color: #eee;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}

aside > .ce-text:last-of-type {
	margin-bottom: -10px;
}

.ce-simple {
	margin: 30px 0;
}

.form-list ul {
	margin: 20px 0 10px;
}

.form-list li {
	margin-bottom: 5px;
}

.form-element {
	margin-bottom: 15px;
}

.form-error {
  background: url('../images/eth_website_form_elements_validation_false.png') no-repeat scroll #ffffff;
  background-position: right;
  border: 2px solid #E61212 !important;
  text-indent: 8px;
  height: 38px;
  width: 357px;
  font-weight: bold;
  color: #E61212;
  line-height: 38px;
  font-size: 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

table.attributeTable tr:nth-child(even) {
    background-color: #f6f6f6;
}

table.attributeTable td {
    padding: 0.3125em 0.625em; 
}

 table.attributeTable tr:first-child {
    border-top: 1px solid #d8d8d8;
}

 table.attributeTable tr:last-child {
    border-bottom: 1px solid #d8d8d8;
}

table.attributeTable td{
	border:none;
	width: auto;
	font-weight:inherit;
	color: inherit;
}

div#attributeRelease {
	padding-top: 30px;
	padding-bottom: 20px;
}

input[type="text"], input[type="password"] {
	border: 2px solid #ccc;
	width: 357px;
}

.attributeRelease tr:nth-child(even) {
    background-color: #f6f6f6;
}

.consentDuration{
	margin-top: 1rem;
}

.consentDuration p{
	font-style: italic;
}

/* all scrollarea elements */
.scrollarea,
.srollarea * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* scrollarea with scrollcase */
.scrollarea.scrollbar {
  padding-top: 0;
  padding-bottom: 0; }

/* scrollarea-main */
.scrollarea .scrollarea-main {
  overflow: hidden;
  margin: 0;
  padding: 0; }

/* scroll-window*/
.scrollarea .scrollarea-scroll-window {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0;
  padding: 0; }

/* scroll-content*/
.scrollarea .scrollarea-content {
  display: inline-block;
  float: left;
  margin: 0;
  min-width: 100%; }

.scrollarea:after,
.scrollarea .scrollarea-main:after,
.scrollarea .scrollarea-scroll-window:after,
.scrollarea .scrollarea-content:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (max-width: 768px) {
	input[type="text"], input[type="password"], div.form-error {
		width: 100%;
	}
}

/* @end */
