/******************************************/
/*  Enter below your specific app styles  */
/******************************************/

label {
	color: #333;
}

.form-element label {
	font-weight: bold;
}

.ce-box {
	padding: 16px;
	padding-bottom: 6px;
	box-sizing: border-box;
	background-color: #eee;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}

aside > .ce-text:last-of-type {
	margin-bottom: -10px;
}

.ce-simple {
	margin: 30px 0;
}

.form-list ul {
	margin: 20px 0 10px;
}

.form-list li {
	margin-bottom: 5px;
}

.form-element {
	margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
	border: 2px solid #ccc;
	width: 50%;
}

@media screen and (max-width: 768px) {
	input[type="text"], input[type="password"] {
		width: 100%;
	}
}

/* @end */
