/* @override 
	https://eth.guay.ch/mvTool/css/base.css 
*/

@font-face {
font-family: 'Roboto-Light';
src: url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Roboto-Bold';
src: url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}

/* resets */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

:focus {
	outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

input::ms-clear, input[type="password"]::ms-reveal {
	display: none;
}

input[type="search"]::-webkit-search-decoration {
	display: none;
}

input[type="radio"], input[type="checkbox"] {
	margin: 0;
}

button, a.button, input[type="reset"], input[type="submit"], input[type="button"], input[type="image"] {
	background: none;
	border: 0;
	cursor: pointer;
	display: inline-block;
	overflow: visible;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: text-bottom;
	text-align: center;
	text-decoration: none;
	width: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 15px;
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
}

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
	background: none;
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	text-align: left;
	vertical-align: top;
	font-size: 15px;
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button, select::-webkit-outer-spin-button, select::-webkit-inner-spin-button, input[type="date"]::-webkit-outer-spin-button, input[type="date"]::-webkit-inner-spin-button, input[type="datetime"]::-webkit-outer-spin-button, input[type="datetime"]::-webkit-inner-spin-button, input[type="datetime-local"]::-webkit-outer-spin-button, input[type="datetime-local"]::-webkit-inner-spin-button, input[type="email"]::-webkit-outer-spin-button, input[type="email"]::-webkit-inner-spin-button, input[type="month"]::-webkit-outer-spin-button, input[type="month"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button, input[type="password"]::-webkit-outer-spin-button, input[type="password"]::-webkit-inner-spin-button, input[type="search"]::-webkit-outer-spin-button, input[type="search"]::-webkit-inner-spin-button, input[type="tel"]::-webkit-outer-spin-button, input[type="tel"]::-webkit-inner-spin-button, input[type="text"]::-webkit-outer-spin-button, input[type="text"]::-webkit-inner-spin-button, input[type="time"]::-webkit-outer-spin-button, input[type="time"]::-webkit-inner-spin-button, input[type="url"]::-webkit-outer-spin-button, input[type="url"]::-webkit-inner-spin-button, input[type="week"]::-webkit-outer-spin-button, input[type="week"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

button[disabled], input[disabled], select[disabled], select[disabled] option, select[disabled] optgroup, textarea[disabled] {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	cursor: default;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
	opacity: 0.25;
}

textarea {
	min-height: 40px;
	overflow: auto;
	resize: vertical;
	width: 100%;
}

optgroup {
	font-style: normal;
	font-weight: normal;
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
}

select::-ms-expand {
	display: none;
}

@-moz-document url-prefix() {
	input: invalid,
	  button:invalid,
	  select:invalid,
	  textarea:invalid {
	-moz-box-shadow: none;
	box-shadow: none;
}

input::-moz-focus-inner, button::-moz-focus-inner, select::-moz-focus-inner, textarea::-moz-focus-inner {
	border: 0;
	padding: 0;
}

select {
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: "";
} }

/* @group clear, clearfix */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	zoom: 1;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/* @end */

/* @group Basic HTML */

html, body {
	height: 100%;
}

body {
	background: #eaecee;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #333;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	color: #1f407a;
}

h1 {
	font-size: 25px;
	line-height: 28px;
}

h2 {
	font-size: 19px;
	line-height: 22px;
	padding: 3px 0 10px 0;
}

h3 {
	font-size: 15px;
	line-height: 18px;
	padding: 3px 0;
}

h4 {
	font-size: 15px;
	line-height: 18px;
}

h5 {
	font-size: 15px;
	line-height: 18px;
}

h6 {
	font-size: 15px;
	line-height: 18px;
}

h2.first, h3.first, h4.first {
	padding-top: 0;
}

p {
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 10px;
}

ul, ol {
	list-style: none;
	margin-left: 18px;
}

li {
	font-size: 15px;
	line-height: 18px;
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	color: #0069b4;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	display: inline;
	border-bottom: solid 1px transparent;
}

a:hover, a:active {
	border-bottom: solid 1px #82be1e;
}

a.linkIntern, #content a[target="_blank"] {
	padding-right: 15px;
	background: url("../images/arrow-link.png") no-repeat right center;
}

a.linkExtern, #content a.linkExtern {
	background: url("../images/arrow-extern.png") no-repeat right center;
	padding-right: 15px;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: -1px;
}

hr {
	clear: both;
	display: block;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border: none;
	border-bottom: 1px solid #ccc;
	height: 1px;
}

.desktop {
	/* default: item is visible */
}

.mobile {
	/* default: item is not visible */
	display: none;
}

/* ---- icons for tel, email, fax ---- */

.tel, .email, .fax {
	background-image: url("../images/icon-phone.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	display: inline-block;
	margin: 0;
}

.fax {
	background-image: url("../images/icon-print.png");
}

.email {
	background-image: url("../images/icon-email.png");
}

/* @end */

/* @group eth colors */

.col-corp #header-bg, .col-corp #footer {
	background: #1f407a;
}

.col-member #header-bg, .col-member #footer {
	background: #3c5a0f;
}

.col-blue #header-bg, .col-blue #footer {
	background-color: #0069b4;
}

.col-olive #header-bg, .col-olive #footer {
	background-color: #72791c;
}

.col-violet #header-bg, .col-violet #footer {
	background-color: #91056a;
}

.col-grey #header-bg, .col-grey #footer {
	background-color: #6f6f6e;
}

.col-red #header-bg, .col-red #footer {
	background-color: #a8322d;
}

.col-turquoise #header-bg, .col-turquoise #footer {
	background-color: #007a92;
}

.col-brown #header-bg, .col-brown #footer {
	background-color: #956013;
}

.col-black #header-bg, .col-black #footer {
	background-color: #000000;
}

/* @end */

/* @group Basic Layout */

#header-bg, #header-statusbar, #header-statusbar-inside, #wrapper, #header
#content, #footer {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

#header-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 165px;
	width: 100%;
	min-width: 990px;
	background: #3c5a0f;
	z-index: 0;
}

#header-statusbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 990px;
	background: #000;
	z-index: 50;
}

#header-statusbar-inside {
	position: relative;
	height: 41px;
	width: 990px;
	margin: 0 auto;
	font-size: 11px;
	line-height: 12px;
	color: #fff;
}

#wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 990px;
	min-height: 100%;
}

#header {
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	height: 135px;
}

#main {
	position: relative;
	flex: 1 0 auto;
}

#footer {
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	background: #3c5a0f;
	height: 38px;
	width: 100%;
}

.inside {
	position: relative;
	padding: 15px;
}

@media screen and (max-width:1024px) {
	#wrapper {
		width: auto;
	}
	
	#header-bg, #header-statusbar {
		min-width: 10px;
	}
	
	#header-statusbar-inside {
		width: auto;
	}
}

@media screen and (max-width:768px) {
	body {
		background: #bbb;
	}
	
	#wrapper {
		width: auto;
	}
	
	#header-bg, #header-statusbar {
		min-width: 10px;
	}
	
	#header-statusbar-inside {
		width: auto;
	}
}

/* @end */

/* @group content */

#content, #content-top, #content-main, #content-aside, .content-next {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

#content-top, #content-main, #content-aside, .content-next {
	padding: 16px;
	background-color: white;
}

#content {
	margin-top: 0;
	margin-bottom: 10px;
}

#content-top {
	overflow: visible;
}

#content-top, #content-aside {
	padding-top: 60px;
}

/*
#contentEnd {
	clear: both;
	height: 10px;
	padding-bottom: 33px;
	overflow: hidden;
	font-size: 0;
}
*/

.content-next {
	margin-top: 0;
	margin-bottom: 10px;
	background: #fff;
}

body.has-aside #content, body.has-aside .content-next {
	width: calc(100% - 210px);
	float: left;
}

body.has-aside #content-aside {
	width: 200px;
	float: right;
}

body.has-aside #content-aside h2, body.has-aside #content-aside h3 {
	font-size: 15px;
	margin-bottom: 3px;
}

body.has-aside #content-aside p {
	font-size: 13px;
}

body.has-aside #content, body.has-aside #content-aside {
	min-height: 200px;
}

body.has-aside #content-aside h2 {
	padding-top: 40px;
}

@media screen and (max-width:768px) {
	body.has-aside #content, body.has-aside #content-aside, body.has-aside .content-next {
		width: 100%;
		float: none;
	}
	
	body.has-aside #content-aside {
		padding-top: 15px;
		margin-bottom: 10px;
	}
	
	body.has-aside #content-aside p {
		font-size: 15px;
	}
}

/* @end */

/* @group Flexible Layout */

body.wide #userStatusBar, body.wide #wrapper, body.wide #footer {
	width: auto;
	margin-left: 50px;
	margin-right: 50px;
	min-width: 990px;
}

body.wide #bgUserStatusBar, body.wide #bgHeader {
	min-width: 1090px;
}

/* @end */

/* @group left, right */

.left, .right {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.left {
	float: left;
	width: 50%;
	padding-right: 5px;
}

.right {
	float: right;
	width: 50%;
	padding-left: 5px;
}

/* @end */

/* @group header */

#header-logo {
	position: absolute;
	top: 31px;
	left: 10px;
}

#header-logo-web {
	position: relative;
	display: block;
	width: 189px;
}

#header-logo-web a {
	display: block;
	border: none !important;
}

#header-logo-web img {
	width: 100%;
	height: auto;
}

#header-logo-print {
	position: relative;
	display: none;
}

#header-headline {
	position: absolute;
	left: 10px;
	top: 86px;
	width: aut0;
}

#header-headline a {
	font-size: 22px;
	line-height: 27px;
	color: #fff;
	border: none;
}

/* @end */

/* @group footer */

#footer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#footer a, #footer span {
	display: block;
	padding: 0 5px 0 13px;
	list-style: none;
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	line-height: 12px;
	border-bottom: none;
}

#footer a:hover, #footer span:hover {
	border-bottom: none;
	text-decoration: underline;
}

#footer #footer-copyright {
	padding: 0 13px 0 13px;
	text-align: right;
	flex: 1 0 auto;
}

/* @end */

/* @group statusbar */

#header-statusbar {
	display: none;
}

.has-statusbar #header-statusbar {
	display: block;
}

.has-statusbar #header {
	margin-top: 41px;
	height: calc(135px - 41px);
}

.has-statusbar #header-headline {
	display: none;
}

#header-statusbar-inside #app-name {
	position: absolute;
	top: 10px;
	left: 10px;
}

#header-statusbar-inside #app-name a {
	font-size: 20px;
	line-height: normal;
	padding: 0;
}

#header-statusbar-inside #toggleView {
	position: absolute;
	top: 9px;
	left: 380px;
}

#header-statusbar-inside #user {
	position: absolute;
	top: 9px;
	right: 140px;
}

#header-statusbar-inside #logout {
	position: absolute;
	top: 9px;
	right: 0;
}

#header-statusbar-inside #logout a {
	background-color: #444;
	background-image: url("../images/icon-close.svg");
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: center right;
}

#header-statusbar-inside #logout a:hover {
	background-color: #999;
	color: black;
}

#header-statusbar-inside a, #header-statusbar-inside span {
	font-size: 11px;
	line-height: normal;
	color: #fff;
	display: inline-block;
	padding: 6px 30px 5px 10px;
	font-weight: bold;
	border: none;
}

#header-statusbar-inside #user a {
	padding-left: 0;
}

#header-statusbar-inside a:hover {
	border-bottom: none;
}

@media screen and (max-width:768px) {
	#header-statusbar-inside #logout {
		right: 13px;
	}
}

/* @end */

/* @group metaNavi */

#nav-meta {
	position: absolute;
	right: 0;
	top: 30px;
	height: 30px;
	width: 740px;
	z-index: 100;
}

#nav-meta ul {
	float: right;
	margin: 0;
}

#nav-meta li {
	float: left;
	font-size: 12px;
	list-style: none;
	line-height: 1;
	padding: 0 9px;
	border-right: 1px solid #627aa8;
}

#nav-meta li:last-child {
	border-right: none;
}

#nav-meta a {
	display: inline-block;
	color: #fff;
}

#nav-meta a:hover {
	border-bottom: 1px solid #fff;
}

/* @end */

/* @group nav-language */

#nav-language {
	position: absolute;
	right: 0;
	top: 30px;
	height: 30px;
	width: auto;
	z-index: 100;
}

#nav-language ul {
	float: right;
	margin: 0;
}

#nav-language li {
	float: left;
	font-size: 12px;
	list-style: none;
	line-height: 1;
	padding: 0 9px;
	border-right: 1px solid #627aa8;
}

#nav-language li:last-child {
	border-right: none;
}

#nav-language a {
	display: inline;
	color: #fff;
	padding-bottom: 3px;
}

#nav-language a:hover, #nav-language a.active {
	border-bottom: 1px solid #fff;
}

@media screen and (max-width:768px) {
	#nav-language {
		right: 13px;
	}
}

/* @end */

/* @group nav-main */

#nav-main {
	display: none;
}

.has-nav-main #nav-main {
	display: block;
}

.has-nav-main #header-bg {
	height: 200px;
}

.has-nav-main #header {
	height: 170px;
}

.has-statusbar.has-nav-main #header-bg {
	height: 200px;
}

.has-statusbar.has-nav-main #header {
	height: 129px;
}

#nav-main {
	position: absolute;
	bottom: 0;
	line-height: 0;
	z-index: 1000;
	height: 27px;
	width: 100%;
}

#nav-main ul ul {
	display: none;
}

#nav-main ul li:hover > ul {
	display: block;
}

#nav-main ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	display: inline-table;
}

#nav-main > ul {
	height: 27px;
}

#nav-main ul:after {
	content: "";
	display: block;
	clear: both;
}

#nav-main ul li {
	float: left;
	font-size: 14px;
	line-height: 1;
}

#nav-main > ul > li {
	margin-right: -1px;
}

#nav-main ul li:hover a {
	color: #1f407a;
}

#nav-main ul li a {
	display: block;
	text-decoration: none;
	border: none;
	background-size: 20px 60px;
	background-repeat: no-repeat;
	background-position: 0 2px;
	border-right: 1px solid #627aa8;
	padding: 0px 15px 5px 16px;
	color: #fff;
}

#nav-main ul li:last-child > a {
	border-right: none;
}

#nav-main > ul > li.active > a, #nav-main > ul > li:hover > a {
	background-position: 0 9px;
	background-color: #fff;
	border-color: #fff;
	border-bottom: none;
	padding-top: 7px;
	padding-bottom: 13px;
	margin-top: -7px;
	color: #1f407a;
}

#nav-main > ul > li > a:hover {
	background-color: #82be1e;
	background-position: 0 -41px;
	border-color: #82be1e;
	border-bottom: none;
	padding-top: 7px;
	padding-bottom: 13px;
	margin-top: -7px;
	color: #1f407a;
}

#nav-main > ul > li:hover {
	position: relative;
	z-index: 201;
	box-shadow: 0px 0px 7px 0px #222;
}

#nav-main > ul > li:hover > a {
	position: relative;
	width: auto;
	z-index: 202;
}

#nav-main ul ul {
	position: absolute;
	z-index: 200;
	top: 100%;
	background: #fff;
	padding: 0;
	box-shadow: 0px 0px 7px 0px #222;
}

#nav-main ul ul li {
	position: relative;
	float: none;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: -1px;
	font-size: 12px;
}

#nav-main ul ul li a {
	background-image: none;
	border: none;
	padding: 10px 15px;
	margin: 0;
	min-width: 200px;
}

#nav-main ul ul li a:hover {
	border: none;
	background: #82be1e;
	padding: 10px 15px;
	margin: 0;
}

#nav-main ul ul ul {
	position: absolute;
	top: 0;
	left: 100%;
}

/* @end */

/* @group navigation */

/* Subnavigation im Content-Bereich */

.withContentNavi #contentNavi {
	float: left;
	width: 230px;
	padding-left: 10px;
}

#contentNavi ul {
	margin: 0;
	list-style: none;
}

#contentNavi ul:after {
	content: "";
	display: block;
	clear: both;
}

#contentNavi > ul {
	border-top: 1px solid #ccc;
}

#contentNavi ul li {
	margin: 0;
	padding: 0;
}

#contentNavi ul li a, #contentNavi ul li span {
	border-bottom: 1px solid #ccc;
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 5px 12px;
	text-decoration: none;
	color: #444;
}

#contentNavi ul li a:hover {
	background-color: #f0f0f0;
	color: #1f407a;
}

#contentNavi ul li.active > a, #contentNavi ul li.active > span {
	font-weight: bold;
	color: #1f407a;
}

#contentNavi ul li.active a.active {
	background-color: #f0f0f0;
	font-weight: bold;
	color: #1f407a;
}

/* level_2 */

#contentNavi ul li li a {
	padding-left: 24px;
}

/* level_3 */

#contentNavi ul li li li a {
	padding-left: 36px;
}

.withContentNavi #content-top, .withContentNavi #content-main {
	float: right;
	width: calc(100% - 260px);
}

.withContentNavi #contentContainer:after {
	content: "";
	display: block;
	clear: both;
}

/* @end */

/* @end */

/* @group nav-tab */

.nav-tab {
	position: relative;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.nav-tab ul {
	padding: 0;
	margin: 0;
	width: 80%;
	font-size: 0;
}

.nav-tab ul:after {
	content: "";
	display: block;
	clear: both;
}

.nav-tab li {
	display: block;
	float: left;
	width: auto;
	border: 1px solid #ccc;
	margin-right: -1px;
	margin-bottom: -1px;
	background: #eee;
	font-size: 12px;
	line-height: 13px;
	font-weight: bold;
	color: #666;
}

.nav-tab li.active {
	border-bottom: 1px solid #fff;
	background: #fff;
}

.nav-tab li span {
	display: block;
	padding: 7px 10px 6px;
}

.nav-tab li a {
	display: block;
	padding: 7px 10px 6px;
	border: #000;
}

.nav-tab li a:hover {
	color: #000;
}

.nav-tab ul.pagination {
	position: absolute;
	right: 0;
	top: 0;
	width: 30%;
	text-align: right;
}

.nav-tab ul.pagination li {
	background: none;
	border-color: transparent;
	padding-right: 0;
	padding-left: 0;
}

@media screen and (max-width:768px) {
	.nav-tab {
		margin-bottom: 10px;
	}
	
	.nav-tab ul {
		width: 100%;
	}
	
	.nav-tab li {
		display: block;
		width: 100%;
		border: 1px solid #ccc;
		margin-right: 0;
		margin-bottom: -1px;
		background: #eee;
	}
	
	.nav-tab li:last-child {
		border-bottom: 1px solid #ccc;
	}
	
	.nav-tab li.active {
		background-color: #fff;
		border-bottom: 1px solid #ccc;
		color: black;
	}
	
	.nav-tab li a {
		border: #000;
	}
	
	.nav-tab li a:hover {
		color: #000;
	}
	
	.nav-tab ul.pagination {
		position: absolute;
		right: 0;
		top: 0;
		width: 30%;
		text-align: right;
	}
	
	.nav-tab ul.pagination li {
		background: none;
		border-color: transparent;
		padding-right: 0;
		padding-left: 0;
	}
	
	.nav-tab li {
		background-image: url(../images/arrow-tab-left.png);
		background-size: 16px;
		background-position: calc(100% - 5px) center;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	
	.nav-tab li.active {
		background-image: url(../images/arrow-tab-down.png);
		background-size: 16px;
		background-position: calc(100% - 5px) center;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	
	.nav-tab li.active.open {
		background-image: url(../images/arrow-tab-up.png);
	}
	
	.nav-tab li.possible {
		background-image: url("../images/arrow-submit.png");
		background-size: auto;
		background-position: calc(100% + 4px) center;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	
	/* @end */
}

/* @group nav-flow */

#nav-flow {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #82be1e;
	height: 30px;
	overflow: hidden;
	z-index: 40;
}

#nav-flow ul {
	margin: 0;
	padding: 0;
	padding-left: 13px;
}

#nav-flow ul:after {
	content: "";
	display: block;
	clear: both;
}

#nav-flow li {
	float: left;
	list-style: none;
	font-size: 12px;
	line-height: 12px;
	padding: 9px 9px 9px 0px;
}

#nav-flow a {
	display: inline-block;
	padding-right: 15px;
	color: #000;
	background: url("../images/arrow-right-white.svg") no-repeat right center;
}

#nav-flow.small li {
	font-size: 11px;
	line-height: 12px;
	padding-right: 7px;
}

#nav-flow li a.selected {
	text-decoration: underline;
}

#nav-flow li:first-child a.selected {
	text-decoration: none;
}

#nav-flow li.inactive {
	background: #ddd;
	font-weight: bold;
}

#nav-flow li span {
	display: inline-block;
	padding-right: 15px;
	color: #fff;
	background: url("../images/arrow-breadcrumb.png") no-repeat right center;
}

/* @end */

/* @group boxes */

.box {
	margin-bottom: 20px;
}

.box ul {
	margin-left: 0;
	list-style: none;
}

.box p, .box li {
	font-size: 12px;
	line-height: 18px;
}

.box h3 {
	padding-top: 0;
}

/* ---- Intro Text on top of a pge ---- */

.intro {
	border: 1px solid #ccc;
	background: #eee;
	padding: 8px 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.intro p, .intro ul {
	margin-bottom: 0;
}

.intro h3 {
	padding-top: 0;
}

.intro ul {
	margin-left: 18px;
	list-style: disc;
}

/* ---- note at a bottom of a request/search ---- */

.note {
	padding-bottom: 7px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.note.last {
	margin-bottom: 0;
	border-bottom: none;
}

.note p, .note ul {
	margin-bottom: 0;
}

.note ul {
	margin-left: 18px;
	list-style: disc;
}

/* @group confirm */

.confirm {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.confirm ul {
	margin-left: 17px;
}

.confirm li {
	list-style-type: square;
	line-height: 1.5;
}

.confirm p {
	margin-bottom: 0;
}

/* @end */

/* @group explain */

.explain {
	color: #666;
	display: block;
	float: right;
	text-align: left;
	width: 50%;
	vertical-align: top;
}

.explain.below {
	padding: 0;
	display: block;
	margin-top: 8px;
	font-size: 11px;
	line-height: 12px;
	color: #666;
	text-align: left;
	width: 100%;
}

.mandatory {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	color: #c00;
}

/* @end */

/* @end */

/* @group tables */

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin: 5px 0 10px 0;
}

td, th {
	text-align: left;
	vertical-align: top;
}

td {
	padding: 10px 5px;
	font-size: 15px;
	line-height: 18px;
	color: #333;
	border-top: 1px solid #ddd;
}

td:first-child {
	padding-left: 0;
	width: 180px;
	font-weight: bold;
	color: #666;
}

td:last-child {
	padding-right: 0;
}

td p, td li {
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 5px;
}

td h3, td h4 {
	font-size: 15px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

th {
	font-weight: bold;
	padding: 3px 5px;
	background: #eaecee;
	font-size: 11px;
	line-height: 12px;
	color: #666;
	border-top: 1px solid #ddd;
}

th:first-child {
	border-left: 1px solid #ddd;
}

th:last-child {
	border-right: 1px solid #ddd;
	padding-right: 0;
}

table.login {
	border: none;
}

table.login td {
	border: none;
}

table.wAuto th:first-child, table.wAuto td:first-child {
	width: auto;
}

table.neutral td:first-child {
	font-weight: normal;
	color: inherit;
}

table.download {
	width: 100%;
	border: none;
}

table.download td {
	border: none;
	font-size: 14px;
	padding: 0 10px 5px 0;
}

table.download td:first-child {
	width: 180px;
}

td.border-no {
	border: none;
}

td.border-dotted {
	border-style: dotted;
}

td.tRight {
	text-align: right;
	padding-right: 0;
}

/* @end */

/* @group form */

/* @group form errors */

div.error {
	border: 1px solid #c00;
	padding: 5px 10px;
	margin-bottom: 10px;
}

div.error ul {
	margin-left: 16px;
}

div.error li {
	list-style: disc;
}

div.error p, div.error li {
	color: #c00;
	padding: 0;
	margin: 0;
}

div.error h3 {
	color: #c00;
}

td.error, label.error {
	color: #c00;
}

/* highlight h3 and marked p in confirmation box only */

h3.error, p.error {
	color: #c00;
	padding: 0;
	margin: 0;
}

select.error, input.error, textarea.error {
	border: 1px solid #c00;
}

/* @end */

/* @end */

/* @end */

/* @group form */

.toggle-block {
	overflow: hidden;
	max-height: 1400px;
	opacity: 1;
	transition: max-height 0.8s, padding-top 0.4s, padding-bottom 0.4s,  opacity 1s;
}

.toggle-block.open {
	animation: toggle-open;
	animation-duration: 2s;
}

.closed {
	max-height: 0;
	opacity: 0;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

tr.closed {
	display: none;
}

@keyframes toggle-open {
0% {
	max-height: 1400px;
	opacity: 1;
}

100% {
	max-height: 1400px;
	opacity: 1;
}
}

@keyframes toggle-close {
0% {
	max-height: 1400px;
	opacity: 1;
}

100% {
	max-height: 0;
	opacity: 0;
}
}

label {
	display: block;
	padding-bottom: 3px;
	font-size: 13px;
	line-height: 18px;
	color: grey;
}

.form-col-first label {
	color: black;
}

button + label, input[type="text"] + label, select + label, textarea + label {
	padding-top: 5px;
	padding-bottom: 0;
	font-size: 13px;
	color: grey;
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
	outline: none;
	border-color: rgba(0, 105, 180, 0.6);
	box-shadow: 0 0 7px rgba(0, 105, 180, 0.8);
	transition: 0.4s;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"], select, textarea, button {
	display: block;
	width: 100%;
	border: 1px solid #999;
	padding: 5px 10px;
	background: white;
	height: 38px;
	font-size: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

textarea {
	height: 120px;
	padding: 10px;
}

input[type="text"]:disabled {
	border-color: white;
	color: #3c5a0f;
}

select {
	background-color: #fff;
	background-image: url(images/arrow-down.svg);
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) center;
	background-size: 24px;
}

.btn, input[type="button"], input[type="reset"], input[type="submit"], button[type="submit"] {
	border: none;
	background-color: #0069B4;
	background-image: url("../images/arrow-submit-hover.svg");
	background-size: 22px 10px;
	background-repeat: no-repeat;
	background-position: right center;
	padding: 5px 35px 5px 12px;
	color: #fff;
	transition: 0.4s;
}

.btn, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button[type="submit"]:hover {
	background-color: #82be1e;
	background-repeat: no-repeat;
	background-position: right center;
	color: black;
}

button {
	font-weight: bold;
	cursor: pointer;
}

.form-buttons {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}

.form-buttons > div {
	width: auto;
	min-width: 20px;
}

.form-buttons .middle {
	font-weight: bold;
	color: red;
	padding-top: 10px;
}

.form-container {
	background: #fff;
}

.form-row {
	justify-content: flex-end;
	display: flex;
	border-top: 1px solid #eee;
	margin-top: 1px;
	padding-top: 10px;
}

.form-row.no-border {
	border: none;
	padding-top: 0;
}

.form-row:first-of-type {
	border-top: 1px solid #fff;
}

.form-col-first {
	width: 200px;
	padding: 0;
	font-weight: bold;
}

.form-col-content {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	width: calc(100% - 200px);
}

.form-col-first label, .form-col-content > div p {
	padding-top: 10px;
}

.form-col-content > div {
	width: 100%;
	padding-left: 5px;
	padding-bottom: 10px;
	box-sizing: border-box;
}

.form-col-content > div.cell-1 {
	width: 12.5%;
}

.form-col-content > div.cell-2 {
	width: 25%;
}

.form-col-content > div.cell-3 {
	width: 37.5%;
}

.form-col-content > div.cell-4 {
	width: 50%;
}

.form-col-content > div.cell-5 {
	width: 62.5%;
}

.form-col-content > div.cell-6 {
	width: 75%;
}

.form-col-content > div.cell-7 {
	width: 87.5%;
}

.form-col-content > div.cell-title {
	margin-top: 0;
	margin-bottom: 0;
}

.w25 {
	width: 25%;
}

.w50 {
	width: 50%;
}

.w75 {
	width: 75%;
}

.row-end {
	justify-content: flex-end;
}

.row-column {
	flex-direction: column;
}

.file-upload {
	position: relative;
	overflow: hidden;
}

.file-upload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	font-size: 15px;
	cursor: pointer;
	background: red;
	opacity: 0;
	filter: alpha(opacity=0);
}

.file-upload input.upload:hover + button {
	background: #444;
	color: white;
}

label.inline {
	display: inline-block;
	padding: 0 30px 0 10px;
}

div.list-btn-radio {
	padding: 5px 0 10px 0;
}

div.list-btn-radio label {
	color: #333;
}

input[type="checkbox"], input[type="checkbox"] + label, input[type="radio"], input[type="radio"] + label {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	cursor: pointer;
}

input[type="checkbox"] + label, input[type="radio"] + label {
	font-size: 15px;
	color: #333;
}

input[type="checkbox"], input[type="radio"] {
	opacity: 0;
	position: absolute;
}

input[type="checkbox"] + label, input[type="radio"] + label {
	position: relative;
	margin-bottom: 0;
	margin-right: 30px;
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
	content: '';
	background: #fff;
	border: 2px solid #ccc;
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	padding: 4px;
	margin-top: -3px;
	margin-right: 10px;
	text-align: center;
	transition: 0.4s;
}

input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
	background: #0069B4;
	box-shadow: inset 0px 0px 0px 3px #fff;
}

input[type="radio"] + label:before {
	border-radius: 50%;
}

td input[type="checkbox"], td input[type="radio"] {
	top: -5px;
	bottom: -5px;
}

.file-upload {
	position: relative;
	overflow: hidden;
}

.file-upload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	font-size: 15px;
	cursor: pointer;
	background: red;
	opacity: 0;
	filter: alpha(opacity=0);
}

.file-upload input.upload:hover + button {
	background: #444;
	color: white;
}

input[type="text"]:disabled {
	border-color: white;
	color: #3c5a0f;
}

@media screen and (max-width:768px) {
	.form-buttons {
		flex-wrap: wrap;
	}
	
	.form-buttons > div {
		width: auto;
		min-width: 20px;
	}
	
	.form-buttons .middle {
		width: 100%;
		order: -1;
		text-align: center;
		padding-bottom: 20px;
		margin-bottom: 30px;
		border-bottom: 1px solid #ccc;
	}
	
	.form-row {
		border-top: 1px solid #aaa;
		flex-direction: column;
	}
	
	.form-col-first, .form-col-content {
		width: 100%;
	}
	
	.form-col-content > div {
		width: 100% !important;
		padding-left: 0;
		padding-top: 10px;
	}
	
	.empty {
		display: none;
	}
}

/* @group form-buttons */

#main a.button, #main span.button {
	display: inline-block;
	font-size: 15px;
	height: 38px;
	padding: 9px 35px 9px 15px;
	color: #fff;
	box-sizing: border-box;
	border: none;
	background-color: #0069B4;
	background-image: url("../images/arrow-submit.svg");
	background-size: 22px 10px;
	background-repeat: no-repeat;
	background-position: right center;
}

#main a.button:hover, #main span.button:hover {
	background-color: #82be1e;
	background-image: url("../images/arrow-submit-hover.svg");
	color: black;
}

#main a.button:active, #main span.button:active {
	background-color: #000;
	background-image: url("../images/arrow-submit-hover.svg");
	color: #fff;
}

#main a.button.delete, #main span.button.delete {
	background-image: url("../images/icon-close.svg");
}

#main a.button.delete:active, #main span.button.delete:active {
	background-color: #c00;
	background-image: url("../images/icon-close.svg");
	color: #fff;
}

#main a.button.close, #main a.button.reset, #main span.button.close, #main span.button.reset {
	background-color: #666;
	background-image: url("../images/icon-close.svg");
	color: #fff;
}

#main a.button.close:active, #main a.button.reset:active, #main span.button.close:active, #main span.button.reset:active {
	background-image: url("../images/icon-close.svg");
}

#main a.button.back, #main span.button.back {
	background-image: url("../images/arrow-back.svg");
	background-position: center left;
	padding-left: 35px;
	padding-right: 15px;
}

#main a.button.back:hover, #main a.button.back:active, #main span.button.back:hover, #main span.button.back:active {
	background-image: url("../images/arrow-back-hover.svg");
	background-position: center left;
	padding-left: 35px;
	padding-right: 15px;
}

td a.button, td span.button {
	margin-top: -4px;
	margin-bottom: -4px;
}

input[type="file"]:active {
	background-color: #82be1e;
}

.icon-ok {
	background: url("../images/icon-ok.svg") no-repeat right bottom;
	background-size: 22px;
	height: 18px;
}

/* @end */

/* @group form-tables*/

.form-container td {
	font-size: 15px;
	line-height: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.form-container .mod-green {
	background: rgba(0, 204, 0, 0.1);
}

.form-container .mod-red {
	background: rgba(204, 0, 0, 0.2);
}

.form-container .mod-yellow {
	background: rgba(255, 255, 0, 0.3);
}

.form-container td:first-child {
	font-weight: normal;
	color: #444;
}

.form-container table {
	margin: 0;
}

/* @end */

/* @group helpers */

.buttonList {
	float: left;
	margin: 0;
}

.buttonList li {
	float: left;
	margin-right: 30px;
	list-style: none;
	font-size: 12px;
	line-height: 13px;
}

/* clearfix */

.buttonList:before, .buttonList:after {
	content: "";
	display: block;
	clear: both;
}

.buttonList:after {
	clear: both;
}

.buttonList {
	*zoom: 1;
	  /* IE 6/7 */
}

.ui-datepicker-title {
	font-size: 12px;
}

.ui-datepicker-trigger {
	display: inline-block;
	padding-left: 5px;
}

.ui-datepicker-calendar td:first-child, .ui-datepicker-calendar th:first-child {
	width: auto;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	width: 35%;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 5px;
}

input.datepicker {
	width: 24%;
}

#dropzone {
	display: inline-block;
	border: 1px dashed #0069B4;
	width: 68%;
}

#dropzone p {
	text-align: center;
	margin: 0;
	padding: 30px 0;
	color: #0069B4;
}

#dropzone:hover {
	background: #c1d3f4;
}

.linkButton {
	font-size: 12px;
	line-height: 13px;
	border: 0;
	display: inline-block;
	margin-top: 5px;
	margin-right: 5px;
}

.linkList {
	margin: 0;
	margin-top: 3px;
	padding: 0;
	padding-bottom: 18px;
}

.linkList li {
	font-size: 12px;
	padding-top: 0;
	padding-bottom: 5px;
	list-style: none;
}

.linkList li a {
	background-image: url("../images/arrow-link.svg");
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 15px;
}

.linkList li.last-child, .linkList li:last-child {
	padding-bottom: 0;
}

/* @end */

/* @group messages */

.msg-alert {
	border: 1px solid #c00;
	background: rgba(204, 0, 0, 0.1);
}

.msg-alert p {
	color: #c00;
}

.msg-hint {
	border: 1px solid #090;
	background: rgba(0, 153, 0, 0.1);
}

.msg-hint p {
	color: #090;
}

.msg-info {
	border: 1px solid #ccc;
	background: rgba(153, 153, 153, 0.1);
}

.msg-info p {
	color: #777;
}

.msg-feedback {
	border: 1px solid #f90;
	background: rgba(255, 153, 0, 0.1);
}

.msg-feedback p {
	color: #f90;
}

.msg-alert, .msg-hint, .msg-info, .msg-feedback {
	margin: 10px 0 0;
	padding: 10px 13px;
}

.msg-alert p, .msg-hint p, .msg-info p, .msg-feedback p {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}

/* @end */

/* @group tooltip */

.tooltip {
	position: relative;
	display: inline-block;
	padding-right: 10px;
}

.tooltip .tooltip-text {
	visibility: hidden;
	width: auto;
	background-color: #555;
	color: #fff;
	font-weight: normal;
	text-align: center;
	padding: 7px 10px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	transform: translateX(-50%);
}

.tooltip .tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}

#content a.tooltip[target="_blank"] {
	padding-right: 0;
	background: none;
	border: none;
}

/* @end */
