.pagination, .pagination-list {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}

.pagination {
	font-size: 15px;
	margin: 10px -5px;
}

.pagination.is-small {
	font-size: 12px;
}

.pagination.is-medium {
	font-size: 18px;
}

.pagination.is-large {
	font-size: 21px;
}

.pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 0;
	box-shadow: none;
	display: inline-flex;
	font-size: 15px;
	line-height: 1.2;
	height: 35px;
	width: 35px;
	padding: 0.5em;
	position: relative;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 1em;
	justify-content: center;
	margin: 5px;
	text-align: center;
}

.pagination-previous:focus, .pagination-next:focus, .pagination-link:focus, .pagination-ellipsis:focus {
	outline: none;
	border-color: rgba(0, 105, 180, 0.6);
	box-shadow: 0 0 7px rgba(0, 105, 180, 0.8);
	transition: 0.4s;
}

.pagination-previous:active, .pagination-next:active, .pagination-link:active, .pagination-ellipsis:active {
	outline: none;
	box-shadow: 0 0 7px rgba(0, 105, 180, 0.8);
}

.pagination-previous[disabled], .pagination-previous[disabled]:hover, .pagination-previous:hover[disabled], .pagination-next[disabled], .pagination-next[disabled]:hover, .pagination-next:hover[disabled], .pagination-link[disabled], .pagination-link[disabled]:hover, .pagination-link:hover[disabled], .pagination-ellipsis[disabled], .pagination-ellipsis[disabled]:hover, .pagination-ellipsis:hover[disabled] {
	background-color: #dbdbdb;
	border-color: #dbdbdb;
	box-shadow: none;
	color: #7a7a7a;
	opacity: 0.5;
	cursor: not-allowed;
}

.pagination:not(:last-child) {
	margin-bottom: 1.5rem;
}

.pagination-previous, .pagination-next, .pagination-link {
	border-color: #ddd;
	color: #333;
	font-weight: normal;
}

.pagination-previous:hover, .pagination-next:hover, .pagination-link:hover {
	border-color: #000;
	color: #333;
}

.pagination-previous, .pagination-next {
	white-space: nowrap;
}

.pagination-link.is-current {
	background-color: grey;
	border-color: black;
	color: white;
}

.pagination-ellipsis {
	color: #b5b5b5;
	pointer-events: none;
}

.pagination-list {
	flex-wrap: wrap;
}

.is-focused.pagination-previous, .is-focused.pagination-next, .is-focused.pagination-link, .is-focused.pagination-ellipsis, .is-active.pagination-previous, .is-active.pagination-next, .is-active.pagination-link, .is-active.pagination-ellipsis {
	outline: none;
}

.is-focused.pagination-previous, .is-focused.pagination-next, .is-focused.pagination-link, .is-focused.pagination-ellipsis, .is-active.pagination-previous, .is-active.pagination-next, .is-active.pagination-link, .is-active.pagination-ellipsis {
	outline: none;
}

fieldset[disabled] .pagination-previous, fieldset[disabled] .pagination-next, fieldset[disabled] .pagination-link, fieldset[disabled] .pagination-ellipsis {
	cursor: not-allowed;
}

/**
.pagination.is-rounded .pagination-previous,
.pagination.is-rounded .pagination-next {
	// padding-left: 1em;
	// padding-right: 1em;
	// border-radius: 290486px;
}

.pagination.is-rounded .pagination-link {
	//border-radius: 290486px;
}
*/

@media screen and (max-width: 768px) {
	.pagination {
		flex-wrap: wrap;
	}
	
	.pagination-previous, .pagination-next {
		flex-grow: 1;
		flex-shrink: 1;
	}
	
	.pagination-list li {
		flex-grow: 1;
		flex-shrink: 1;
	}
}

@media screen and (min-width: 769px), print {
	.pagination-list {
		flex-grow: 1;
		flex-shrink: 1;
		justify-content: flex-start;
		order: 1;
	}
	
	.pagination-previous {
		order: 2;
	}
	
	.pagination-next {
		order: 3;
	}
	
	.pagination {
		justify-content: space-between;
	}
	
	.pagination.is-centered .pagination-previous {
		order: 1;
	}
	
	.pagination.is-centered .pagination-list {
		justify-content: center;
		order: 2;
	}
	
	.pagination.is-centered .pagination-next {
		order: 3;
	}
	
	.pagination.is-right .pagination-previous {
		order: 1;
	}
	
	.pagination.is-right .pagination-next {
		order: 2;
	}
	
	.pagination.is-right .pagination-list {
		justify-content: flex-end;
		order: 3;
	}
}
