.datepicker {
  font-size: 0.875rem; }
  .datepicker .dropdown,
  .datepicker .dropdown-trigger {
    width: 100%; }
  .datepicker .dropdown.is-disabled {
    opacity: 1; }
  .datepicker .dropdown-content {
    background-color: white;
    border-radius: 0;
    box-shadow: grey; }
  .datepicker .dropdown-item {
    font-size: inherit; }
  .datepicker .datepicker-header {
    padding-bottom: 0.875rem;
    margin-bottom: 0.875rem;
    border-bottom: 1px solid #ccc; }
  .datepicker .datepicker-footer {
    margin-top: 0.875rem;
    padding-top: 0.875rem;
    border-top: 1px solid #ccc; }
  .datepicker .datepicker-table {
    display: table;
    margin: 0 auto 0 auto; }
    .datepicker .datepicker-table .datepicker-cell {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      border-radius: 0;
      padding: 0.5rem 0.75rem; }
    .datepicker .datepicker-table .datepicker-header {
      display: table-header-group; }
      .datepicker .datepicker-table .datepicker-header .datepicker-cell {
        color: grey;
        font-weight: normal; }
    .datepicker .datepicker-table .datepicker-body {
      display: table-row-group; }
      .datepicker .datepicker-table .datepicker-body .datepicker-row {
        display: table-row; }
      .datepicker .datepicker-table .datepicker-body .datepicker-months {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 17rem; }
        .datepicker .datepicker-table .datepicker-body .datepicker-months .datepicker-cell {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 33.33%;
          height: 2.5rem; }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-unselectable {
        color: #999; }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-today {
        border: solid 1px rgba(128, 128, 128, 0.5); }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable {
        color: #777; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable:hover:not(.is-selected), .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable:focus:not(.is-selected) {
          background-color: #eee;
          color: black;
          cursor: pointer; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable.is-within-hovered-range.is-first-hovered {
          background-color: grey;
          color: #ccc;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable.is-within-hovered-range.is-within-hovered {
          background-color: #eee;
          color: black;
          border-radius: 0; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable.is-within-hovered-range.is-last-hovered {
          background-color: grey;
          color: #ccc;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0; }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected {
        background-color: blue;
        color: #ccc; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-first-selected {
          background-color: blue;
          color: #ccc;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-within-selected {
          background-color: rgba(0, 0, 255, 0.5);
          border-radius: 0; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-last-selected {
          background-color: blue;
          color: #ccc;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0; }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-nearby:not(.is-selected) {
        color: #999; }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-week-number {
        cursor: default; }
      .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell {
        padding: 0.3rem 0.75rem 0.75rem; }
        .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event {
          position: relative; }
          .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events {
            bottom: .425rem;
            display: flex;
            justify-content: center;
            left: 0;
            padding: 0 .35rem;
            position: absolute;
            width: 100%; }
            .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-white {
              background-color: white; }
            .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-black {
              background-color: #0a0a0a; }
            .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-light {
              background-color: whitesmoke; }
            .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-dark {
              background-color: #363636; }
            .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-primary {
              background-color: #7957d5; }
            .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-link {
              background-color: #7957d5; }
            .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-info {
              background-color: #167df0; }
            .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-success {
              background-color: #23d160; }
            .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-warning {
              background-color: #ffdd57; }
            .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-danger {
              background-color: #ff3860; }
          .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event.dots .event {
            border-radius: 50%;
            height: .35em;
            margin: 0 .1em;
            width: .35em; }
          .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event.bars .event {
            height: .25em;
            width: 100%; }
        .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.is-selected {
          overflow: hidden; }
  @media screen and (min-width: 960px) {
    .datepicker .footer-horizontal-timepicker {
      border: none;
      padding-left: 10px;
      margin-left: 5px;
      display: flex; }
    .datepicker .dropdown-horizonal-timepicker {
      display: flex; }
    .datepicker .content-horizonal-timepicker {
      border-right: 1px solid #dbdbdb; } }

.datepicker-header .pagination {
  display: flex; }
