.is-noscroll {
  position: fixed;
  overflow-y: hidden;
  width: 100%;
  bottom: 0; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
.fadeOutDown {
  animation-name: fadeOutDown; }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }
.fadeOutUp {
  animation-name: fadeOutUp; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInDown {
  animation-name: fadeInDown; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInUp {
  animation-name: fadeInUp; }

/**
 * Vue Transitions
 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 150ms ease-out; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.zoom-in-enter-active,
.zoom-in-leave-active {
  transition: opacity 150ms ease-out; }
  .zoom-in-enter-active .animation-content,
  .zoom-in-enter-active .animation-content,
  .zoom-in-leave-active .animation-content,
  .zoom-in-leave-active .animation-content {
    transition: transform 150ms ease-out; }

.zoom-in-enter,
.zoom-in-leave-active {
  opacity: 0; }
  .zoom-in-enter .animation-content,
  .zoom-in-enter .animation-content,
  .zoom-in-leave-active .animation-content,
  .zoom-in-leave-active .animation-content {
    transform: scale(0.95); }

.zoom-out-enter-active,
.zoom-out-leave-active {
  transition: opacity 150ms ease-out; }
  .zoom-out-enter-active .animation-content,
  .zoom-out-enter-active .animation-content,
  .zoom-out-leave-active .animation-content,
  .zoom-out-leave-active .animation-content {
    transition: transform 150ms ease-out; }

.zoom-out-enter,
.zoom-out-leave-active {
  opacity: 0; }
  .zoom-out-enter .animation-content,
  .zoom-out-enter .animation-content,
  .zoom-out-leave-active .animation-content,
  .zoom-out-leave-active .animation-content {
    transform: scale(1.05); }

.slide-next-enter-active,
.slide-next-leave-active,
.slide-prev-enter-active,
.slide-prev-leave-active {
  transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.slide-prev-leave-to, .slide-next-enter {
  transform: translate3d(-100%, 0, 0);
  position: absolute;
  width: 100%; }

.slide-prev-enter, .slide-next-leave-to {
  transform: translate3d(100%, 0, 0);
  position: absolute;
  width: 100%; }

.datepicker {
  font-size: 0.875rem;
  /**
  &.is-small {
      @include control-small;
  }
  &.is-medium {
      @include control-medium;
  }
  &.is-large {
      @include control-large;
  }
  */ }
  .datepicker .dropdown,
  .datepicker .dropdown-trigger {
    width: 100%; }
  .datepicker .dropdown.is-disabled {
    opacity: 1; }
  .datepicker .dropdown-content {
    background-color: #ccc;
    border-radius: 0;
    box-shadow: none; }
  .datepicker .dropdown-item, .datepicker .dropdown .dropdown-menu .has-link a, .dropdown .dropdown-menu .has-link .datepicker a {
    font-size: inherit; }
  .datepicker .datepicker-header {
    padding-bottom: 0.875rem;
    margin-bottom: 0.875rem;
    border-bottom: 1px solid #dbdbdb; }
  .datepicker .datepicker-footer {
    margin-top: 0.875rem;
    padding-top: 0.875rem;
    border-top: 1px solid #dbdbdb; }
  .datepicker .datepicker-table {
    display: table;
    margin: 0 auto 0 auto; }
    .datepicker .datepicker-table .datepicker-cell {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      border-radius: 0;
      padding: 0.5rem 0.75rem; }
    .datepicker .datepicker-table .datepicker-header {
      display: table-header-group; }
      .datepicker .datepicker-table .datepicker-header .datepicker-cell {
        color: #7a7a7a;
        font-weight: 600; }
    .datepicker .datepicker-table .datepicker-body {
      display: table-row-group; }
      .datepicker .datepicker-table .datepicker-body .datepicker-row {
        display: table-row; }
      .datepicker .datepicker-table .datepicker-body .datepicker-months {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 17rem; }
        .datepicker .datepicker-table .datepicker-body .datepicker-months .datepicker-cell {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 33.33%;
          height: 2.5rem; }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-unselectable {
        color: #b5b5b5; }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-today {
        border: solid 1px rgba(121, 87, 213, 0.5); }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable {
        color: #4a4a4a; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable:hover:not(.is-selected), .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable:focus:not(.is-selected) {
          background-color: #ccc;
          color: #0a0a0a;
          cursor: pointer; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable.is-within-hovered-range.is-first-hovered {
          background-color: #7a7a7a;
          color: #dbdbdb;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable.is-within-hovered-range.is-within-hovered {
          background-color: #ccc;
          color: #0a0a0a;
          border-radius: 0; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable.is-within-hovered-range.is-last-hovered {
          background-color: #7a7a7a;
          color: #dbdbdb;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0; }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected {
        background-color: #7957d5;
        color: white; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-first-selected {
          background-color: #7957d5;
          color: white;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-within-selected {
          background-color: rgba(121, 87, 213, 0.5);
          border-radius: 0; }
        .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-last-selected {
          background-color: #7957d5;
          color: white;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0; }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-nearby:not(.is-selected) {
        color: #b5b5b5; }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-week-number {
        cursor: default; }
      .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell {
        padding: 0.3rem 0.75rem 0.75rem; }
        .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event {
          position: relative; }
          .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events {
            bottom: .425rem;
            display: flex;
            justify-content: center;
            left: 0;
            padding: 0 .35rem;
            position: absolute;
            width: 100%; }
          .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event.dots .event {
            border-radius: 50%;
            height: .35em;
            margin: 0 .1em;
            width: .35em; }
          .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event.bars .event {
            height: .25em;
            width: 100%; }
        .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.is-selected {
          overflow: hidden; }
          .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.is-selected .events .event.is-primary {
            background-color: #aa94e4; }

.dropdown + .dropdown {
  margin-left: 0.5em; }
.dropdown .background {
  position: fixed;
  background-color: rgba(10, 10, 10, 0.86);
  z-index: 40;
  cursor: pointer; }
  @media screen and (min-width: 1024px) {
    .dropdown .background {
      display: none; } }
.dropdown .dropdown-menu .dropdown-item.is-disabled, .dropdown .dropdown-menu .has-link a.is-disabled {
  cursor: not-allowed; }
  .dropdown .dropdown-menu .dropdown-item.is-disabled:hover, .dropdown .dropdown-menu .has-link a.is-disabled:hover {
    background: inherit;
    color: inherit; }
.dropdown .dropdown-menu .has-link a {
  padding-right: 3rem;
  white-space: nowrap; }
.dropdown.is-expanded {
  width: 100%; }
  .dropdown.is-expanded .dropdown-trigger {
    width: 100%; }
  .dropdown.is-expanded .dropdown-menu {
    width: 100%; }
  .dropdown.is-expanded.is-mobile-modal .dropdown-menu {
    max-width: 100%; }
.dropdown:not(.is-disabled) .dropdown-menu .dropdown-item.is-disabled, .dropdown:not(.is-disabled) .dropdown-menu .has-link a.is-disabled {
  opacity: 0.5; }
.dropdown .navbar-item {
  height: 100%; }
.dropdown.is-disabled {
  opacity: 0.5;
  cursor: not-allowed; }
  .dropdown.is-disabled .dropdown-trigger {
    pointer-events: none; }
.dropdown.is-inline .dropdown-menu {
  position: static;
  display: inline-block;
  padding: 0; }
.dropdown.is-top-right .dropdown-menu {
  top: auto;
  bottom: 100%; }
.dropdown.is-top-left .dropdown-menu {
  top: auto;
  bottom: 100%;
  right: 0;
  left: auto; }
.dropdown.is-bottom-left .dropdown-menu {
  right: 0;
  left: auto; }
@media screen and (max-width: 1023px) {
  .dropdown.is-mobile-modal > .dropdown-menu {
    position: fixed;
    width: calc(100vw - 40px);
    max-width: 460px;
    max-height: calc(100vh - 120px);
    top: 25% !important;
    left: 50% !important;
    bottom: auto !important;
    right: auto !important;
    transform: translate3d(-50%, -25%, 0);
    white-space: normal;
    overflow-y: auto;
    z-index: 50; }
    .dropdown.is-mobile-modal > .dropdown-menu > .dropdown-content > .dropdown-item, .dropdown .dropdown-menu .has-link .dropdown.is-mobile-modal > .dropdown-menu > .dropdown-content > a {
      padding: 1rem 1.5rem; } }

.pagination .pagination-next,
.pagination .pagination-previous {
  padding-left: 0.25em;
  padding-right: 0.25em; }
  .pagination .pagination-next.is-disabled,
  .pagination .pagination-previous.is-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5; }
.pagination.is-simple {
  justify-content: normal; }
  .pagination.is-simple.is-centered {
    justify-content: center; }
  .pagination.is-simple.is-right {
    justify-content: flex-end; }
.pagination .is-current {
  pointer-events: none;
  cursor: not-allowed; }
