body.style960 .newsList h2 { /* Revert Bug 28363 */
  font-size: 14px;
}

/* Revert what commit 8928 (Bug 28844) did too much (accordion title overwrites maximize text) */
body div.accordion-editmode h3.accordionHeader a, 
body.style960 div.accordion-editmode h3.accordionHeader a, 
body div.accordion h3.accordionHeader a,
body.style960 div.accordion h3.accordionHeader a {
  display: inline;
}

div.contactbox,
div.eventListBox,
div.searchResultList div.link-wrap,
figcaption {
     display: block;
     
     -ms-word-wrap: break-word;
     word-wrap:     break-word;
     overflow-wrap: break-word;

     -webkit-hyphens: auto;
     -moz-hyphens:    auto;
     -ms-hyphens:	  auto;
     hyphens:         auto;
}

html.chrome div.contactbox,
html.chrome div.eventListBox,
html.chrome div.searchResultList div.link-wrap,
html.chrome figcaption {
	word-break: break-all;
}

/**
 * #30111: Beginning with AEM 5.6 jquery-ui.css is loaded in author mode which collides
 *         with some of our own CSS classes used by the tab/accordion component. These
 *         patches will override those classes to fix the tab/accordion layout in author
 *         mode.
 *
 *         Some of these patches are also applied toe the academic calendar component.
 */
div.academicCalendar h3.ui-state-active,
div.academicCalendar h3.ui-state-default,
div.academicCalendar h3.ui-state-hover,
div.tab_accordion h3.accordionHeader {
	border: none !important;
	font-family: Arial, Helvetica, sans-serif !important;
}

div.academicCalendar div.accordionContent,
div.tab_accordion div.accoridaonContent {
	border: none !important;
	font-family: Arial, Helvetica, sans-serif !important;
	overflow: visible !important;
}

div.academicCalendar div.accordionContent tr.trSubtext th,
div.academicCalendar div.accordionContent tr.trSubtext td {
	border: none !important;
	border-top: 1px solid #C9CFD2 !important;
}

div.tab_accordion div.ui-widget-content {
	border: none !important;
}

div.academicCalendar span.ui-icon,
div.tab_accordion span.ui-icon {
	width: 0px !important;
}

div.tab_accordion ul.ui-widget-header {
	background: none !important;
	border: none !important;
	padding: 0px !important;
}

div.tab_accordion ul.ui-widget-header li.ui-state-active,
div.tab_accordion ul.ui-widget-header li.ui-state-default,
div.tab_accordion ul.ui-widget-header li.ui-state-hover {
	border: none !important;
	font-family: Arial, Helvetica, sans-serif !important;
}

nav#nav {
	position: relative;
}

div#services {
	float: right;
	
}

div.services-placeholder {
	height: 1px;
}

div.services-button {
	margin-right: 10px;
    height: 42px;
}

div.services-button a {
    float: left;
}

div.services-container {
    padding-top: 5px;
    float: left;
}

div.services-border {
    height: 34px;
    border-left: 1px solid #627AA8;
    padding: 0px 8px 0px 8px;
}

div.services-maxwidth {
	max-width: 139px; 
    float: left;
}

div.services-arrow {
    height: 32px;
    width: 13px;
    float: left;
    background: transparent url("../img/eth_website_link_elements.png") no-repeat scroll -25px -5px;
}

div.services-button:hover div.services-border {
    border-left-color: transparent !important;
}

div.services-button:hover {
    background: #82be1e;
    box-shadow: 0px 0px 7px 0px #222;
}

div.services-button:hover div.services-arrow {
    background-position: -5px -5px;
}

body nav#nav div.services-button:hover a {
	color: #1f407a; 
}

body div.personinfo ul {
  list-style-image:url('../img/content/components/basic-items/bulletrd-font14.png');
  margin-left: 18px;
  padding-bottom: 6px;
  margin-top: 0px;
}

body div.personinfo ol {
  list-style: decimal outside none;
  margin-left: 20px;
  padding-bottom: 6px;
  margin-top: 0px;
}
